[Unit]
Description=webapp nodejs Application
After=cloud-final.target

[Service]
Type=simple


Environment=PORT=3000


Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
User=ec2-user
workingDirectory = /home/ec2-user/script
ExecStart= /usr/bin/node /home/ec2-user/script/index.js


[Install]
WantedBy=multi-user.target

